.c-container{
    justify-content:space-around ;
    display: flex;
}
.c-container>img{
    width: 9rem;
    
}
c-container img>*:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 300ms ease-in;
}